/* Importing Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

/* Resetting styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #161616;
}

/* Styling form */
.paymentContainer form {
    padding: 40px;
    width: 700px;
    background: #fff;
    border-radius: 10px;
}

/* Styling payment title */
.paymentTitle {
    font-size: 20px;
    color: #333;
    text-transform: uppercase;
    margin-bottom: 5px;
}

/* Styling input boxes */
.paymentInputBox {
    margin-bottom: 15px;
}

/* Styling input box spans */
.paymentInputBox span {
    display: block;
    /*to display upove it*/
    margin-bottom: 10px;
}

.paymentContainer {
    margin-left: 26%;
}

/* Styling inputs */
input {
    width: 98%;
    padding: 2%;
    border-radius: 7px;
    border: 1px solid #ccc;
    font-size: 15px;
}

.paymentSubmitBtn {
    width: 100%;
    padding: 12px;
    background: #aa0404;
    border: none;
    outline: none;
    color: #fff;
    text-transform: uppercase;
    border-radius: 6px;
    cursor: pointer;
    font-size: 17px;
    margin-top: 5px;
}

.paymentSubmitBtn:hover {
    background: #650101;
}

.topnav {
    background-color: #242222;
    overflow: hidden;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
}

.topnav a.account {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #aa0404;
    color: white;
}

footer {
    background-color: #111;
    color: #fff;
    text-align: center;
    margin-top: 28px;
    padding: 18px;
}

footer p {
    font-family: 'Poppins', sans-serif;
}