/* signup styling */
/* Resetting styles */
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.container {
    margin-top: -3%;
}

body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("images/459-background.png");    
    background-size: cover;
}

/* Ensure all input elements have the same width */
input,
select {
    box-sizing: border-box;
    margin-top: 3%;
    border: 0;
    outline: 0;
    padding: 18px 15px;
    background-color: #e5e5e5;
    border-radius: 3px;
    min-width: calc(70%);
    /* Adjust to accommodate the icon width and margin */
    padding-left: 30px;/
    /* Include padding and border in the element's total width */
}

.inputField i {
    margin-right: 15px;
    position: absolute;
    left: 99px;
    top: 61%;
    transform: translateY(-50%);
    color: #878787;

}

.inputField {
    align-items: center;
    position: relative;
    align-items: center;
}

.formBox {
    box-sizing: border-box;
    text-align: center;
    margin-left: 29%;
    margin-top: 5%;
    padding-bottom: 6%;
    padding-top: 5%;
    border-radius: 20px;
    background: #fff;
    padding-bottom: 41px;
    width: 40%
}

.selectBox {
    align-items: center;
    color: #878787;
}

.buttonField {
    margin-top: 6%;
    align-items: center;
    margin-right: 16px;


}

.buttonField button {
    background-color: #373037;
    color: #fff;
    height: 50px;
    width: 39%;
    border-radius: 25px;
    border: 0;
    outline: 0;
    cursor: pointer;
    /*chanigaing the appearnce of hovring*/
    font-size: 16px;
    margin-left: 11px;

}


.buttonField button.submitBtn {
    background-color: #ac0000;
}

.buttonField button.submitBtn:hover {
    background-color: #800101;
}

.formBox h1 {
    font-size: 30px;
    margin-bottom: 38px;
    color: #272529;
}

.buttonField .secondbtn {
    background-color: #242222;
}

.buttonField button.secondbtn:hover {
    background-color: #373434;
}

.topnav {
    background-color: #242222;
    overflow: hidden;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
}

.topnav a.account {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #aa0404;
    color: white;
}

footer {
    background-color: #111;
    color: #fff;
    text-align: center;
    margin-top: 28px;
    padding: 18px;
}

footer p {
    font-family: 'Poppins', sans-serif;
}